<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p class="navbar-text" style="float:none;">
          <a class="navbar-link" href="mailto:hello@dingotri.club" target="_blank">hello@dingotri.club</a>
        </p>
      </div>
      <div class="text-center col-xs-4">
        <ul class="nav navbar-nav" style="float:none;">
          <li style="float:none; display:inline-block;"><a style="" class="navbar-link" href="https://twitter.com/DingoTri" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li style="float:none; display:inline-block;"><a class="navbar-link" href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="text-right col-xs-4">
        <p class="navbar-text" style="float:none;">&copy;&nbsp;Dingo Tri Club 2016</p>
      </div>
    </div>
  </div>
</div>
